.bg-container {
  background-image: linear-gradient(to right, #75e6da, lightblue, #d4f1f4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
}

.text-part {
  justify-content: center;
  align-items: center;
  margin: 14px;
}

.home-heading {
  color: blue;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.sub-heading {
  color: black;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.home-para {
  font-size: 18px;
  color: white;
  margin: 12px;
  font-family: 'Montserrat', sans-serif;
}

.home-para1 {
  font-size: 13px;
  color: white;
  margin: 12px;
  font-family: 'Montserrat', sans-serif;
}

.form-container {
  background-color: #d4f1f4;
  border-radius: 30px;
  padding: 40px;
  margin: 14px;
}

.form-heading {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.check {
  background-color: lightblue;
  color: lightblue;
}

.align-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paragraph {
  color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.icon-img {
  height: 30px;
  width: 30px;
  color: blue;
}
