* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* https://github.com/babiprasanna/todoTask/commit/ad349b1e7bb28f02b6170d9927844c66615d5b8c#diff-8ade80866d7825f696178432b2a059c6b0427fbf5e33b9388eab2cef55908b45 */
